<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="POST" action="http://127.0.0.1:8000/polls/fortune/">
    {% csrf_token %}
    <input type="text" name="user">
    <select name="color">
        <option>red</option>
        <option>yellow</option>
        <option>blue</option>
        <option>green</option>
    </select>
    <select name="number">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
    </select>
    <button>submit</button>
</form>

</body>
</html>